body {
  background-image: url(../images/forgotPassword_background1.png);
  background-size: cover;
}
.container {
  padding-top: 4em;
  padding-bottom: 3em;
  margin: 7em 20%;
  background: #ffffff;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 20px;
}
.head {
  /* margin-top: 5em; */
  margin-bottom: 3em;
}
h1 {
  font-family: Roboto;
  font-weight: bold;
  font-size: 3em;
  color: #004aad;
  text-align: center;
  margin-bottom: 0;
  margin-top: 0;
}
.head p {
  font-family: Roboto;
  margin-left: 15%;
  margin-right: 15%;
  /* color: #585656; */
  color: #000000 50%;
}
.form {
  margin-left: 15%;
  margin-bottom: 3em;
}
.form input{
  margin-top: 1em;
  border: 1.5px solid black;
  border-radius: 0.2em;
  width: 80%;
  padding-top: 0.2em;
  padding-bottom: 0.2em;
  font-size: 1.5em;
}
.form button {
  padding-top: 0.2em;
  padding-bottom: 0.2em;
  margin-left: 10%;
  margin-top: 2em;
  border-radius: 0.8em;
  width: 60%;
  background-color: #004AAD;
  font-size: 1.5em;
  color: #FFFFFF;
}
.note {
  text-align: center;
  color: #555555;
}
.note a{
  text-decoration: none;
  color: #004aad ;
}
img{
  width: 4em;
  height: auto;
  position: fixed;
  top: 5em;
  left: 23vw;
  
}
.lock{
  width: 3em;
  height: auto;
  top: 5.5em;
  left: 23.5vw;
}
